.header {
	margin-top: 40px;
}

.logo {
	width: 175px;
	height: 150px;
	float: right;
	display: inline-block;
}

.logoText {
	text-align: right;
	margin-right: 30px;
}

.add {
	border-radius: 50%;
}

