.navbar {
	color: white;
	background-color: black;
}

.header {
	min-height: 300px;
	background-color: black;
	padding-bottom: 20px;
	margin-top: 40px;
}

.headerText{
	color: white;
}

.logo {
	float: right;
	height: 150px;
	width: 175px;
}

.logoText {
	text-align: right;
	margin-right: 35px;
	color: white;
}

.scheduleList {
	list-style: none;
}

.table tr, td {
	border: 1px solid black;
	align-content: center;
}

.btn-success, .btn-danger {
	width: 70px;
	height: 50px;
	text-align: center;
}

.add {
	border-radius: 50%;
	background-color: red;
}

.secBut {
	height: 15px;
	width: 15px;
	background-color: red;
	position: absolute;
	right: 0px;
	bottom: 5px;
}




