<!DOCTYPE html>
<html ng-app="grumMod">
	<head>
		<title>Grumr</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="./css/main.css">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
	</head>
	<body ng-controller="grumController">
		<nav class="navbar navbar-inverse navbar-fixed-top">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <a class="navbar-brand" href="/">Home</a>		
		      <a class="navbar-brand" href="/grumr">Gr&uumlmr</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li><a href="#" data-toggle="modal" data-target="#signupModal">Sign Up</a></li>
		        <li><a href="#" data-toggle="modal" data-target="#loginModal">Login</a></li>
		        
		        
		      </ul>
		      <ul class="nav navbar-nav navbar-right">
		      	<li><a href="/grumr/userPage">User Profile</a></li>
		      	<li><a href="/grumr/salonPage">Salon Profile</a></li>
		      	<li><a href="/logout">Log Out</a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
		<div class="container-fluid header">
			<div class="row">
				<div class="col-xs-12">
					<img src="/images/snowballEdit03.png" class="logo">
					<h1 class="headText">Gr&uumlmr</h1>
					<h2 class="headText">Find The Perfect Groomer</h2>
					<h3 class="headText">Schedule The Perfect Groom</h3>
					<button class="btn btn-success starter" data-toggle="modal" data-target="#signupModal">Get Started Today!</button>
				</div>
			</div>
		</div>
		<div class="container directions">
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<div>
						<img class="dirs" src="/images/map.png">
						<h4>Find a Grooming Salon Near You</h4>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4">
					<div>
						<img class="dirs" src="/images/pricing.png">
						<h4>Check Availability and Pricing</h4>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4">
					<div>
						<img class="dirs" src="/images/Happy-Dog.jpg">
						<h4>Schedule Your Appointment Online</h4>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid aboutUs">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<h3 class="firstAbout">Introducing a new way to find your dog groomer. Gr&uumlmr allows you to select from a variety of grooming salons so you can always be sure you're getting the best price from the best groomers available.</h3>
				</div>
				<div class="col-xs-12 col-sm-6">
					<img class="firstPic" src="http://www.hairofthedogsr.com/wp-content/uploads/2014/06/bathroom-to-a-dog.jpg">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<img class="secPic" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQx-C-ucwkmuzfVfr0jUolyqT2vbvDFyIPLcG13ZDINdA6H4ZScw">
				</div>
				<div class="col-xs-12 col-sm-6">
					<h3 class="secAbout">Customers: See the availability in advance so you can make your appointment online! <br><br> Groomers: Let your customers make appointments online, so you can focus on the groom, not the next appointment!</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<h3 class="thirdAbout">It's as simple as that! Enjoy yourself!</h3>
				</div>
				<div class="col-xs-12 col-sm-6">
					<img class="firstPic" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQxZG4HfLDW-CmRt_tDwl1gQxbe4a5LRGuTjD3v5CLoVQuuEzwU">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 buttonrow">
					<button class="btn btn-success signupbutton" data-toggle="modal" data-target="#signupModal">Get Started Now!</button>
				</div>
			</div>
		</div>
		<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="signupModalLabel">Sign Up!</h4>
		      </div>
		      <div class="modal-body">
		      	<form ng-submit="createUser()">
		      	  <div class="form-group">
		      	    <label for="inputType">I am a... </label>
		      	    <select ng-model="newUser.type">
		      	    	<option ng-value="User">User</option>
		      	    	<option ng-value="Salon">Salon</option>
		      	    </select>
		      	  </div>
		      	  <div class="form-group">
		      	    <label for="inputName">Full Name/Salon Name</label>
		      	    <input type="text" class="form-control" id="inputName" placeholder="Full Name" ng-model="newUser.name">
		      	  </div>
		      	  <div class="form-group">
		      	    <label for="inputEmail">Primary Email address</label>
		      	    <input type="email" class="form-control" id="inputEmail" placeholder="Email" ng-model="newUser.email">
		      	  </div>
		      	  <div class="form-group">
		      	    <label for="inputPassword">Password</label>
		      	    <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="newUser.password">
		      	  </div>
		      	  <div class="form-group">
		      	    <label for="inputPhone">Phone Number</label>
		      	    <input type="number" class="form-control" id="inputPhone" placeholder="(xxx)xxx-xxxx" ng-model="newUser.phone">
		      	  </div>
		      	  <button type="submit" class="btn btn-default">Sign Up</button>
		      	</form>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		      </div>
		    </div>
		  </div>
		</div>
		
		<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="loginModalLabel">Enter Login Info Below</h4>
		      </div>
		      <div class="modal-body">
		      	<form ng-submit="loginUser()">
		      	  <div class="form-group">
		      	    <label for="inputEmail">Email address</label>
		      	    <input type="email" class="form-control" id="inputEmail" placeholder="Email" ng-model="user.email">
		      	  </div>
		      	  <div class="form-group">
		      	    <label for="inputPassword">Password</label>
		      	    <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="user.password">
		      	  </div>
		      	  <button type="submit" class="btn btn-default">Login</button>
		      	</form>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		      </div>
		    </div>
		  </div>
		</div>

		

		<script type="text/javascript" src="./js/homeModule.js"></script>
		<script type="text/javascript" src="./js/homeController.js"></script>
		<script type="text/javascript" src="./js/breedFactory.js"></script>
	</body>
</html>






















